@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

body {
  text-align: center;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#D44380, #F17E3E);
  margin: 0vw;
}

.swipe {
  position: absolute;
}