@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

body {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(#e66465, #9198e5);
}

.swipe {
  position: absolute;
}

.profile {
  display: flex;
  justify-content: center;
}